
#principal{
    width: 800px;
    height: 2000px;
    background-color: aqua;
    margin: 20px;
}
#caja1{
    /*Cara*/
    width: 400px;
    height: 400px;
    background-color: red;
    border-radius: 100%;
    display: inline-block;
    position: fixed;
    left: 200px;
    top: 200px;
    transform: rotate(180deg);
}
#sombrero{
    /*Cara*/
    width: 400px;
    height: 50px;
    background-color: blue;
    display: inline-block;
    position: fixed;
    left: 200px;
    top: 150px;
    /*transform: rotate(180deg);*/
}
#sombrero1{
    /*Cara*/
    width: 200px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: fixed;
    left: 300px;
    top: 50px;
    /*transform: rotate(180deg);*/
}
#caja12{
    /*Cara2*/
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: white;
    border-radius: 100%;
    position: relative;

}
#caja112{
    /*Cara2*/
    width: 150px;
    height: 100px;
    margin: auto;
    background-color: red;
    border-radius: 100%;
    position: relative;
    top: 30px;
}
#cajanariz{
    /*Cara2*/
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: blue;
    border-radius: 100%;
    position: relative;
    top: 30%;
}
#ojo1{
    width: 70px;
    height: 100px;
    margin: auto;
    background-color: white;
    border-radius: 100%;
    position: relative;
    left: 25%;
}
#ojo2{
    width: 70px;
    height: 100px;
    margin: auto;
    background-color: white;
    border-radius: 100%;
    position: relative;
    right:295%;
}
#pupila1{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: black;
    border-radius: 100%;
    position: relative;
}
#pupila2{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: black;
    border-radius: 100%;
    position: relative;
    bottom: 100%;
}